<style type="text/css" media="all">
.myrow    { padding-top: 15px; }
.table tr { border-top: 1px solid #DDDDDD; }
.table td { border-top: none; }
</style>

<div class="row myrow">
  <div class="span1"></div>
  <div class="span10"><%= image_tag asset_path('pic1.jpg') %></div>
  <div class="span1"></div>
</div>

  
<div class="row myrow">
  <div class="span1"></div>
  <div class="span5">
    <h4>组织结构</h4>
    <table class="table table-condensed">
      <tbody>
      <% @posts1.each do |post| %>
        <tr>
          <td class="pull-left"><%= link_to post.title[0, 20], post_path(post), title: post.title %></td>
          <td class="pull-right"><%= post.created_at.strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="span5">
    <h4>活动简讯</h4>
    <table class="table table-condensed">
      <tbody>
      <% @posts2.each do |post| %>
        <tr>
          <td class="pull-left"><%= link_to post.title[0, 20], post_path(post), title: post.title %></td>
          <td class="pull-right"><%= post.created_at.strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
  <div class="span1"></div>
</div>

<div class="row myrow">
  <div class="span1"></div>
  <div class="span5">
    <h4>宣传窗口</h4>
    <table class="table table-condensed">
      <tbody>
      <% @posts3.each do |post| %>
        <tr>
          <td class="pull-left"><%= link_to post.title[0, 20], post_path(post), title: post.title %></td>
          <td class="pull-right"><%= post.created_at.strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>

  <div class="span5">
    <h4>法律公文</h4>
    <table class="table table-condensed">
      <tbody>
      <% @posts4.each do |post| %>
        <tr>
          <td class="pull-left"><%= link_to post.title[0, 20], post_path(post), title: post.title %></td>
          <td class="pull-right"><%= post.created_at.strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
  <div class="span1"></div>
</div>
